@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);




body {
background:#E5E5E5;
font-weight:300;
color:#E5E5E5;
outline:none;
font-family: 'Raleway';
letter-spacing:.1px;
margin:0;
}

.toolbar {
height:50px;
background:#8BC34A;
}

.tabs {

}

.tabs ul {
list-style:none;
width:100%;
overflow:hidden;
margin:auto;
padding:0;
}

.tabs ul li {
float:left;
width:33%;
}

.tabs a {
position:relative;
text-decoration:none;
display:block;
width:100%;
height:50px;
text-align:center;
line-height:52px;
font-weight:500;
font-size:14px;
color:rgba(255,255,255,0.6);
overflow:hidden;
}

.tabs .active a {
color:#FFF;
font-weight:900;
text-decoration:none;
}

.tabs .active a:after {
height:2px;
width:100%;
display:block;
content:" ";
bottom:0;
left:0;
position:absolute;
background:#3A3535;
-webkit-animation:border-expand .2s cubic-bezier(0.4,0.0,0.4,1) 0 alternate forwards;
-moz-animation:border-expand .2s cubic-bezier(0.4,0.0,0.4,1) 0 alternate forwards;
transition:all 1s cubic-bezier(0.4,0.0,1,1);
}

.tabs a span {
position:absolute;
margin-left:0;
margin-top:-20px;
width:60px;
background:rgba(255,255,141,1);
height:100%;
display:block;
border-radius:50%;
opacity:0;
}

.tabs a span.clicked {
-webkit-animation:expand .6s cubic-bezier(0.4,0.0,0.4,1) 0 normal;
-moz-animation:expand .6s cubic-bezier(0.4,0.0,0.4,1) 0 normal;
border-bottom:2px solid #FFFF8D;
}

.content {

height:100%;
position:relative;
top:0;
overflow:hidden;
}

.box {
display:none;
overflow:auto;
position:relative;
overflow-x:hidden;
height:100%;
padding-top:10px;
padding-bottom:30px;
}

.box.show {
display:block;
height:100%;
-webkit-animation: slide-in-bck-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-bck-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}




.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  }


#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
    width: 50px;
    height: 50px;
    margin:10px;
    float: left;
    box-sizing: border-box;
    background-color: #111;
    color: #fff;
}
#toast #desc{
    color: #fff;   
    padding: 10px;  
    text-align:center;
    overflow: hidden;
    white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}




@-webkit-keyframes slide-in-bck-bottom {
  0% {
    -webkit-transform: translateZ(700px) translateY(300px);
            transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-bottom {
  0% {
    -webkit-transform: translateZ(700px) translateY(300px);
            transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


.container {
    border-radius:5px;
    width:80%;
    border:2px solid teal;
    display:block;
    background:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    position:relative;
    height:150px;
    margin-bottom:20px;
}


.tox {
    height:70px;
    background:pink;
    border-radius:5px;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:70px;
    box-shadow: 8px 10px 10px 4px #545151;
    position:absolute ;
   
}



.panel {
    font-size:14px;
    width:80%;
    margin:0 auto;
    color:black;
    display:block ;
    background:#fff;
    border-radius:5px;
    content-justify:center;
    padding:10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.panel ul li {
    margin:15px;
    list-style-type:none;
}


input {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  width:100%;
  background: none;
}

input::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}


input::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

#color {
    boder-radius:5px;
    border:0.5 solid #3A353;   
    width:30px;
    border:0;
    height:30px;
    
}

.dropbtn {
  background:#fff;
border-radius:20px;
display:block;
margin:0 auto;
outline:none;
margin-top:10px;
    font-family: 'Cherry Swash';
    font-size:14px;
    border:1px solid #075E54;
    padding:10px;
    box-shadow: 9px 9px 19px 0px #9c9c9c;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #3A3535;color:#ffffff;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content ul li {
  color: black;
  text-decoration: none;
  list-style-type:none;
  display: block;
}


.dropdown-content li:hover {background-color:#ddd;}


.show {display:block;}


.grabtn {
background:#fff;
border-radius:20px;
display:block;
margin:0 auto;
outline:none;
margin-top:10px;
    font-family: 'Cherry Swash';
    font-size:14px;
    border:1px solid #075E54;
    padding:10px;
    box-shadow: 9px 9px 19px 0px #9c9c9c;
}

#gradient {
margin-top:20px;
display:none;
    overflow-y: scroll; 
    color:black;
    -webkit-animation: roll 1.1s ease-out both;
            animation: roll 1.1s ease-out both;

    
}
#code {
    overflow-y: auto; 
    color:black;
    overflow:auto;
    height:130px;
}
.grabtn:hover {
   
    background:black;
    color:#fff;
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
            transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
            transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes bottom {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes bottom {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@-webkit-keyframes left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes right {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes right {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@-webkit-keyframes top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

#bg {
    background:url("http://serenitywatergardens.com/wp-content/uploads/2013/12/BG-Fantasy-landscape-1.jpg");
    width:90%;
    height:200px;
}

img {
    margin:0 auto;
    width:200px;
    height:200px;
    display:block;
}

#info {
    font-size:12px;
    width:100%;
    padding:5px;
    bottom:0;
    margin-bottom:auto;
    color:#fff;
    text-align:center;
    margin-top:10px;
    background:black;
}

.switch input {
  position: absolute;
  opacity: 0;
}


.switch {
  display: inline-block;
  font-size: 20px; 
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

#last {
    content-justify:center;
    padding:10px;
    font-weight:600;
    text-align:center;
}

.text {
    width:90%;
    color:black;
    margin:0 auto;
    border-radius:20px;
    color:#fff;
    boder:0.3px solid #3A3535;
    display:block ;
    background: linear-gradient(21deg, #20C659, #1beabd);
    font-weight:700;
    margin-bottom:12px;
    padding:10px;
    text-align:center;
}

#dox {
    
    box-shadow:none;
}

.folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.folding-cube .cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.folding-cube .cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: foldCubeAngle 2.4s infinite linear both;
          animation: foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.folding-cube .cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.folding-cube .cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.folding-cube .cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.folding-cube .cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.folding-cube .cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.folding-cube .cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
